/* contenedor-1 imagen 1 */
/* contenedor-1 imagen 1 */

/* contenedor-1 logo */
.container-1 {
  background-image: url("../src/img/hotel");
  background-position: center;
  background-size: cover;
  margin: 3vw 3vw 1vw 3vw;
}

.container-1-intern {
  padding: 2vw;
  background-color: #0000008c;
}

.img-logoTermas {
  width: 70%;
}

/* contenedor-1 menu */
.menu-container {
  padding: 8vh 0 0 0;
  border-bottom: 2px solid #ffffff;
}

.btn-text-menu {
  font-size: 1.2vw;
  font-family: "CooperHewitt-Light";
  color: #ffffff;
  background: transparent;
  border: none;
  padding-bottom: 0;
}

.btn-text-menu:hover,
.btn-text-menu:active,
.btn-text-menu:focus {
  background: transparent;
  color: #00000066;
}

/* contenedor-1 textos */
.text-title-1 {
  font-size: 4vw;
  font-family: "CooperHewitt-Book";
  color: #ffffff;
  margin-bottom: 0;
}

.text-subtitle-1 {
  font-size: 2.5vw;
  font-family: "CooperHewitt-Light";
  color: #ffffff;
}

.container-text {
  padding-top: 34vh;
}

/* contenedor-1 boton redondo */
.btn-arrow {
  background-color: #ffffff;
  border-radius: 100%;
  color: #575553;
  border: none;
  margin-right: 1vw;
}

.btn-arrow:hover,
.btn-arrow:active,
.btn-arrow:focus {
  background: #ffffff;
  color: #004b1a;
}

/* contenedor-2 selectores-boton */
/* contenedor-2 selectores-boton */

.container-2 {
  padding: 2vh 7vw;
}

.row-container-2 {
  height: 12vh;
}

.text-container-2 {
  box-shadow: 0px 2px 4px 0px rgba(87, 85, 83, 0.45);
  margin-right: 1vh;
  font-size: 1.2vw;
  font-family: "CooperHewitt-Light";
  padding-top: 4vh;
}

.btn-container-2 {
  margin-right: -4vh;
  padding: 0;
}

.btn-container-2-inter {
  width: 100%;
  height: 100%;
  background-color: #004b1a;
  border-radius: 0;
  font-size: 1.4vw;
  font-family: "CooperHewitt-Light";
}
.i-container-2 {
  color: #004b1acc;
  font-size: 1.5vw;
}

.i-container-2-arrow {
  color: #6a6a6a;
}

.line-container-2 {
  border-left: 1.5px solid #004b1acc;
  height: 7vh;
  margin-top: -2vh;
}
.text-input-container-2 {
  color: #6a6a6a;
  font-family: "CooperHewitt-Book";
  font-size: 1vw;
  padding: 0 1.2vw;
}

/* contenedor-3 textos */
/* contenedor-3 textos */

.title-container-3 {
  font-family: "CooperHewitt-Light";
  color: #6a6a6a;
  font-size: 3vw;
  padding-top: 12vh;
}

.text-1-container-3 {
  font-family: "CooperHewitt-Book";
  color: #6a6a6a;
  font-size: 1.1vw;
  margin: 0;
}
.text-2-container-3 {
  font-family: "CooperHewitt-Light";
  color: #6a6a6a;
  font-size: 0.9vw;
  margin: 0;
}

hr {
  width: 10vh;
  display: inline-block;
  margin: 0;
  border-top: 1px solid rgba(106, 106, 106, 0.3);
}

.border-bttom-title {
  margin-top: -2vh;
  color: rgba(106, 106, 106, 0.3);
  font-size: 0.3vw;
}
.i-point {
  padding: 0 0.5vw;
}

.div-text-1-con-3 {
  padding: 5vh 0;
}

.div-text-2-con-3 {
  padding: 2vh 0;
}

/* contenedor-4 img carrucel */
/* contenedor-4 img carrucel */

.container-4 {
  padding: 10vh 0;
}

.img-camas {
  height: 60vh;
  width: 100%;
}

.div-img-camas {
  padding: 0 7vw;
}

.img-comida {
  background-image: url("../src/img/comida");
  background-size: cover;
  height: 42vh;
  padding: 0;
  margin-top: 11vh;
}

.back-img-comida {
  background-color: #000000bf;
  width: 100%;
  height: 100%;
}

.text-img-comida {
  color: #ffffff;
  font-family: "CooperHewitt-Book";
  font-size: 1.3vw;
}

.i-img-comida {
  color: #ffffff;
  font-size: 1.3vw;
}

.div-img-comida-right {
  padding: 12vh 1vw;
}

.div-img-comida-left {
  padding: 14vh 1vw;
}

.div-i-comida-right {
  padding-top: 3vh;
}

/* contenedor-5 imagen 5 */
/* contenedor-5 imagen 5 */

/* contenedor-5 fondo */
.container-5 {
  background-image: url("../src/img/hotel");
  background-size: cover;
  margin: 10vh 0;
  background-position: top;
}

.container-5-intern {
  background-color: #0000008c;
}

.container-5-text {
  padding: 45vh 3vw 10vh 3vw;
}

.btn-con-5-arrow {
  border-radius: 100%;
  background-color: transparent;
  border: 1px solid #ffffff;
  font-size: 2vw;
  padding: 1vh 1.5vw;
}

.container-5-btn {
  padding-top: 57vh;
  padding-left: 5vw;
}

/* contenedor-7 imagen 7 */
/* contenedor-7 imagen 7 */

/* contenedor-7 fondo */
.container-7 {
  background-image: url("../src/img/comida");
  background-size: cover;
  margin: 10vh 0;
  background-position: center;
}

.container-7-intern {
  background-color: #0000008c;
}

.container-7-title {
  padding: 30vh 0vw 8vh 5vw;
}

.container-7-text {
  padding: 27vh 0vw 10vh 0vw;
  margin: 0vh 0vw 0 6vw;
}

.text-title-cont-7 {
  font-family: "CooperHewitt-Book";
  color: #ffffff;
  font-size: 3vw;
}

.text-cont-7 {
  font-family: "CooperHewitt-Light";
  color: #ffffff;
  font-size: 1vw;
  padding-left: 1vw;
}

.text-2-cont-7 {
  font-family: "CooperHewitt-Light";
  color: #ffffff;
  font-size: 1.1vw;
  padding-left: 1vw;
}

.div-line-cont-7 {
  margin-top: 31vh;
  border-right: 2px solid #ffffff;
  height: 11vh;
}

.p-text-title-cont-7 {
  margin-bottom: 0;
}

/* contenedor-8 ubicación */
/* contenedor-8 ubicación */

.img-container-8 {
  background: linear-gradient(
      to top left,
      rgba(255, 255, 255, 0),
      rgb(255, 255, 255)
    ),
    url(../src/img/ubicacion);
  background-size: cover;
  background-position: bottom;
}

.title-container-8 {
  font-family: "CooperHewitt-Light";
  color: #6a6a6a;
  font-size: 3vw;
}

.div-text-1-cont-8 {
  font-family: "CooperHewitt-Light";
  color: #ffffff;
  font-size: 1vw;
}

.p-title-cont-8 {
  margin-bottom: 0;
}

.div-title-cont-8 {
  padding-bottom: 2vh;
  font-family: "CooperHewitt-Book";
  color: #6a6a6aee;
  font-size: 0.9vw;
  padding-left: 0;
}

.border-top-cont-8 {
  border-top: 2px solid #6a6a6a80;
  width: 6vw;
}

.text-1-container-8 {
  font-family: "CooperHewitt-Book";
  color: #6a6a6a;
  font-size: 1.1vw;
}
.title-cont-8-indication {
  font-family: "CooperHewitt-Book";
  font-size: 1.6vw;
  color: #004b1a;
  padding-left: 3vw;
}

.div-text-cont-8 {
  padding-top: 12vh;
}

.padd-text-cont-8 {
  padding-bottom: 30vh;
}

.i-cont-8 {
  font-size: 2vw;
  color: #004b1a;
}

.padd-info-cont-8 {
  padding-bottom: 5vh;
}

/* contenedor-9 pie-info */
/* contenedor-9 pie-info */
.container-9 {
  background-color: #21201e;
  padding-top: 20vh;
  padding-bottom: 5vh;
}

.text-cont-9 {
  font-family: "CooperHewitt-Book";
  font-size: 0.9vw;
  color: #ffffff;
}

.title-cont-9 {
  font-family: "CooperHewitt-Book";
  font-size: 1.5vw;
  color: #ffffff;
}

.i-cont-9 {
  font-size: 1.3vw;
  color: #ffffff;
}

.img-logo-cont-9 {
  width: 70%;
  margin-top: -3vh;
}

/* generales */
/* generales */

.row {
  margin: 0;
}

.no-padd-left {
  padding-left: 0;
}

.no-padd-right {
  padding-right: 0;
}

.text-align-center {
  text-align: center;
}
.margin-x-auto {
  margin: 0 auto;
}

.img-left {
  background-position: left;
}

.img-right {
  background-position: right;
}

/* fuentes */

@font-face {
  font-family: "CooperHewitt-Light";
  src: url("./fonts/cooper-hewitt/CooperHewitt-Light.otf");
}

@font-face {
  font-family: "CooperHewitt-Book";
  src: url("./fonts/cooper-hewitt/CooperHewitt-Book.otf");
}

@font-face {
  font-family: "CooperHewitt-Bold";
  src: url("./fonts/cooper-hewitt/CooperHewitt-Bold.otf");
}

@font-face {
  font-family: "CooperHewitt-Semibold";
  src: url("./fonts/cooper-hewitt/CooperHewitt-Semibold.otf");
}
