/* contenedor-1 imagen 1 */
/* contenedor-1 imagen 1 */

/* contenedor-1 logo */
.container-1 {
  background-image: url("../src/img/hotel");
  background-position: center;
  background-size: cover;
  margin: 3vw 3vw 1vw 3vw;
}

.container-1-intern {
  padding: 2vw;
  background-color: #0000008c;
}

.img-logoTermas {
  width: 70%;
}

/* contenedor-1 menu */
.menu-container {
  padding: 8vh 0 0 0;
  border-bottom: 2px solid #ffffff;
}

.btn-text-menu {
  font-size: 1.2vw;
  font-family: "CooperHewitt-Light";
  color: #ffffff;
  background: transparent;
  border: none;
  padding-bottom: 0;
}

.btn-text-menu:hover,
.btn-text-menu:active,
.btn-text-menu:focus {
  background: transparent;
  color: #00000066;
}

/* contenedor-1 textos */
.text-title-1 {
  font-size: 4vw;
  font-family: "CooperHewitt-Book";
  color: #ffffff;
  margin-bottom: 0;
}

.text-subtitle-1 {
  font-size: 2.5vw;
  font-family: "CooperHewitt-Light";
  color: #ffffff;
}

.container-text {
  padding-top: 34vh;
}

/* contenedor-1 boton redondo */
.btn-arrow {
  background-color: #ffffff;
  border-radius: 100%;
  color: #575553;
  border: none;
  margin-right: 1vw;
}

.btn-arrow:hover,
.btn-arrow:active,
.btn-arrow:focus {
  background: #ffffff;
  color: #004b1a;
}

/* contenedor-2 selectores-boton */
/* contenedor-2 selectores-boton */
.container-2 {
  padding: 2vh 7vw;
}

.row-container-2 {
  height: 12vh;
}

.text-container-2 {
  box-shadow: 0px 2px 4px 0px rgba(87, 85, 83, 0.45);
  margin-right: 1vh;
  font-size: 1.2vw;
  font-family: "CooperHewitt-Light";
  padding-top: 4vh;
}

.btn-container-2 {
  margin-right: -4vh;
  padding: 0;
}

.btn-container-2-inter {
  width: 100%;
  height: 100%;
  background-color: #004b1a;
  border-radius: 0;
  font-size: 1.4vw;
  font-family: "CooperHewitt-Light";
}
.i-container-2 {
  color: #004b1acc;
  font-size: 1.5vw;
}

.i-container-2-arrow {
  color: #6a6a6a;
}

.line-container-2 {
  border-left: 1.5px solid #004b1acc;
  height: 7vh;
  margin-top: -2vh;
}
.text-input-container-2 {
  color: #6a6a6a;
  font-family: "CooperHewitt-Book";
  font-size: 1vw;
  padding: 0 1.2vw;
}

/* generales */

.row {
  margin: 0;
}

.no-padd-left {
  padding-left: 0;
}

.no-padd-right {
  padding-right: 0;
}

.text-align-center {
  text-align: center;
}

/* fuentes */

@font-face {
  font-family: "CooperHewitt-Light";
  src: url("./fonts/cooper-hewitt/CooperHewitt-Light.otf");
}

@font-face {
  font-family: "CooperHewitt-Book";
  src: url("./fonts/cooper-hewitt/CooperHewitt-Book.otf");
}
